---
import { Code } from "astro/components";
import { Icon } from 'astro-icon/components'

interface Props {
  html?: string;
  css?: string;
  js?: string;
  bilibili?: string;
  youtube?: string;
  jsFiddle?: string;
}
const { html, css, js, bilibili, youtube, jsFiddle } = Astro.props as Props;

const tabs = [
  {
    label: "html",
    value: "html",
  },
  {
    label: "css",
    value: "css",
  },
  {
    label: "js",
    value: "js",
  },
];
---

<div class="my-6">
  <div class="flex gap-2">
    {html && <span id="html" class={`cursor-pointer tab active`}>html</span>}
    {css && <span id="css" class={`cursor-pointer tab`}>css</span>}
    {js && <span id="js" class={`cursor-pointer tab`}>js</span>}
  </div>
  <div>
    {tabs.map((tab) => (
      <div id={`${tab.value}-code`}>
        {tab.value === "html" && html && <Code class="code" code={html} lang={"html"} />}
        {tab.value === "css" && css && <Code class="code" code={css} lang={"css"} />}
        {tab.value === "js" && js && <Code class="code" code={js} lang={"js"} />}
      </div>
    ))}
  </div>
  <div class="flex gap-2 mt-4">
    {bilibili && <a href={bilibili} target="_blank">
      <Icon name="logos/bilibili" class="w-6 h-6 text-blue-700 hover:text-blue-500"/>
    </a>}
    {youtube && <a href={youtube} target="_blank">
      <Icon name="logos/youtube" class="w-6 h-6 text-red-700 hover:text-red-500"/>
    </a>}
    {jsFiddle && <a href={jsFiddle} target="_blank">
      <Icon name="logos/jsfiddle" class="w-6 h-6 text-yellow-500 hover:text-yellow-400"/>
    </a>
  </div>
</div>

<style>
  .tab.active {
    color: #000;
    border-bottom: 2px solid #000;
  }
  .code {
    display: none;
  }
  .code.show {
    display: block;
  }
</style>


<script>
  let currentTab = "html";
  document.getElementById("html")?.classList.add("active");

  function setCurrentTab (tab: string){
    currentTab = tab;
    const tabs = document.querySelectorAll(".tab");
    tabs.forEach((tab) => {
      tab.classList.remove("active");
    });
    document.getElementById(tab)?.classList.add("active");
    hideAllCode();
    showCode(tab);
  };

  function hideAllCode(){
    const codes = document.querySelectorAll(".code");
    codes.forEach((code) => {
      code.classList.remove("show");
    });
  }

  function showCode(tab: string){
    const code = document.getElementById(`${tab}-code`);
    code?.querySelector(".code")?.classList.add("show");
  }

  
  setCurrentTab("html");
  document.getElementById("html")?.addEventListener("click", () => setCurrentTab("html"));
  document.getElementById("css")?.addEventListener("click", () => setCurrentTab("css"));
  document.getElementById("js")?.addEventListener("click", () => setCurrentTab("js"));
</script>